fields:
  project:
    key: PROJECTKEY
  issuetype:
    name: Story
  summary: >-
    Change ${Id}: ${Summary}
  priority: # Values: Highest, High, Medium, Low, Lowest,
    name:
  description: |~
    Change to perform: #${Id}: ${Summary}

    ${Description}

    - [ ] Discussion with user of objective, requirements, definition of done
    - [ ] Impact assessed
    - [ ] Change verification procedure documented
    - [ ] Rollback/failure plan documented
    - [ ] Test of Rollback/failure plan documented
    - [ ] Priority assigned
    - [ ] Identified all stakeholders
    - [ ] Timeline agreed upon
    - [ ] Stakeholders all approve change
    - [ ] Tech manager approves change
    - [ ] Technical contact assigned
    - [ ] Start and end time assigned
    - [ ] Work begun
    - [ ] Work completed
    - [ ] Outcome documented in ticket

  assignee:
    emailAddress:
  reporter:
    accountId: mYaCcOuNtId1234567890
  customfield_10000:
    0.1
  parent:
    key: MYEPIC-1234

